.matrix-input {
    background-color: rgb(149, 149, 149);
    display: inline-block;
    padding: 15px;
    border: 2px rgb(65, 65, 65) solid;
    border-radius: 15px;
}

.matrix-input-control-column-button {
    width: 25px;
    height: 25px;
    text-align: center;
}

.matrix-input-bottom-section-control-row-button {
    width: 25px;
    height: 25px;
    text-align: center;
}

.matrix-row-input {
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.matrix-input-bottom-section {
    display: flex;
}

.matrix-input-control-column {
    margin-left: 30px;
    margin-bottom: 5px;
}

.matrix-input-bottom-section-control-row {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.matrix-input-bottom-section-matrix {
    display: inline;
}