.matrix_number {
    display: flex;
    align-items: center;
}

.matrix_number span {
    font-size: 32px;
    margin: 10px;
}

.matrix_number-input {
    width: 35px;
    height: 35px;
    text-align: center;
}